.navList{
 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;

}
.navBar{
background-color: whitesmoke;
display: flex;
flex-direction: row;
justify-content: space-evenly;



}

.navList ul {
    margin-top: 0;
}
li {
    list-style-type: none;
    padding: 1em;
  font-size: 1.25em;
  margin: 0.5em;
}

.item a{
    color:#089e9e;
    list-style-type: none;
    text-decoration: none;
    margin:0;
    font-weight: bold;
   
}
.item a:hover{
    color: #FE4F5A ;
   
    border-radius: 0.5em;
    text-decoration: underline;
}


.App-logo{
    width: 10%;
    height: 20%;

}
.item1{
  background-color: #089e9e;
  color: white;
  padding: 0.5em;
  border-radius: 0.7em;
  margin: 0;
}
.item1:hover{
  background-color: #e4737b;
}


@media screen and (max-width: 643px
) {

    .App-logo{
        width: 20%;
        height: 30%;
    }
    .navList {
      flex-direction: column;
      
    }
    .navBar{
        position: sticky;
    }
    .item a{
        font-size: 0.8em;
    }
  }



  /* .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
  }
  .logo-nav img {
    margin: auto 5em;
    width: 5em;
  }
  .burger-menu {
    display: none;
  }
  .nav-options ul {
    display: flex;
    list-style-type: none;
  }
  .nav-options ul #hidden {
    display: flex;
    list-style-type: none;
  }
  .nav-options ul li {
    padding: 1em;
  }
  .nav-options ul li a {
    text-decoration: none;
    color: #192032;
    font-weight: bold;
  }
  .nav-options ul li a:hover {
    color: #0aa5cd;
    border-bottom: solid #0aa5cd;
    transition: 0.1s;
    transform: scale(1.2);
  }
  
  .register-btn ul {
    display: flex;
    list-style-type: none;
    margin: 0.7em 2em;
  }
  .register-btn ul #hiddenbtn {
    display: flex;
    list-style-type: none;
    margin: 0.7em 2em;
  }
  .register-btn ul li {
    padding: 0.3em;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  nav ul li a:hover {
    color: #192032;
    transition: 0.4s;
  }
  .login-btn-header {
    color: black;
    text-decoration: none;
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
  }
  .login-btn-header:hover {
    background-color: #0aa5cd;
    transform: scale(1.1);
    transition: 0.3s;
  }
  .signup-btn-header {
    color: white;
    text-decoration: none;
    border: none;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    border-radius: 20px;
    background-color: #192032;
    cursor: pointer;
  }
  .signup-btn-header:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
  .logout-btn-header {
    color: white;
    text-decoration: none;
    border: none;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    border-radius: 20px;
    background-color: #192032;
    cursor: pointer;
    outline-style: none;
  }
  .logout-btn-header:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
  @media screen and (max-width: 1024px) {
    .navbar {
      display: flex;
      flex-direction: column;
    }
    .logo-nav {
      display: flex;
      align-items: center;
    }
    .logo-nav img {
      margin: 0;
    }
    .burger-menu {
      display: block;
      margin-left: 50em;
      border: none;
      background: none;
    }
  
    .burger-menu:hover {
      transform: scale(1.1);
      transition: 0.3s;
    }
    .burger-menu .fa-bars {
      color: black;
      font-size: 1.3rem;
    }
    .nav-options ul {
      display: none;
    }
    .nav-options ul li {
      padding: 0.5em;
    }
  
    .nav-options #hidden {
      display: flex;
      flex-direction: column;
    }
    .register-btn ul {
      display: none;
    }
    .register-btn #hiddenbtn {
      display: flex;
      flex-direction: column;
    }
  }
  @media screen and (max-width: 768px) {
    .navbar {
      display: flex;
      flex-direction: column;
    }
    .logo-nav {
      display: flex;
      align-items: center;
    }
  
    .logo-nav img {
      margin: 1em;
    }
    .burger-menu {
      display: block;
      margin-left: 32em;
      border: none;
      background: none;
    }
  
    .burger-menu:hover {
      transform: scale(1.1);
      transition: 0.3s;
    }
    .burger-menu .fa-bars {
      color: black;
      font-size: 2rem;
    }
    .nav-options ul {
      display: none;
    }
    .nav-options ul li {
      padding: 0.5em;
    }
  
    .nav-options #hidden {
      display: flex;
      flex-direction: column;
    }
    .register-btn ul {
      display: none;
    }
    .register-btn #hiddenbtn {
      display: flex;
    }
  }
  
  @media screen and (max-width: 540px) {
    .burger-menu {
      display: block;
      margin-left: 13em;
      border: none;
      background: none;
    }
  }
  @media screen and (max-width: 480px) {
    .navbar {
      display: flex;
      flex-direction: column;
    }
    .logo-nav {
      display: flex;
      align-items: center;
    }
    .logo-nav img {
      margin: 0;
    }
    .burger-menu {
      display: block;
      margin-left: 8em;
      border: none;
      background: none;
    }
  
    .burger-menu:hover {
      transform: scale(1.1);
      transition: 0.3s;
    }
    .burger-menu .fa-bars {
      color: black;
      font-size: 1.3rem;
    }
    .nav-options ul {
      display: none;
    }
    .nav-options ul li {
      padding: 0.5em;
    }
  
    .nav-options #hidden {
      display: flex;
      flex-direction: column;
    }
    .register-btn ul {
      display: none;
    }
    .register-btn #hiddenbtn {
      display: flex;
      flex-direction: column;
    }
  }
  @media screen and (max-width: 520px) {
    .burger-menu {
      display: block;
      margin-left: 8em;
      border: none;
      background: none;
    }
  } */
  
  